<!DOCTYPE html>
<html>
<head>
    <title>
        Image Gallery
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body ng-app="galleryApp"  ng-controller="galleryCtrl">
    <div id="viewport">
        <div id="sidebar">
            <header>
                <img ng-click="start()" href="/Gallery/Index" class="headerlogo" src="~/Images/gallery.png" />
            </header>
            <ul class="nav">
                <li ng-click="start()">
                    <a href="/Gallery/Index">
                        Home
                    </a>
                </li>
                <li ng-click="showUpload()">
                    <a>
                        UPLOAD
                    </a>
                </li>
            </ul>
        </div>

        <div id="content">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)    
</body>
</html>

