
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
<form id="searchbox">
    <input onkeyup="search()" id="searchinput" type="text" placeholder="Search" />
</form>
<form id="uploadbox" action="">
    <input id="fileinput" type="file" name="File" multiple/> <br /><br />
    <label style="color: #eee;" for="userinput">Enter username</label>
    <input type="text" id="userinput" /> <br /><br />
    <input id="btUpload" type="button" value="UPLOAD" />
    <span onclick="uploadclose()" class="arrow">&times;</span>
</form>
<div id="gallery-container-id" class="container-gallery">
    
</div>
<div id="flagBody">
    
</div>
</div>
<script type="text/javascript">
    var modalid = '-1';
    start();

    $("#btUpload").click(function () {

        var fd1 = new FormData($("#uploadbox")[0]);

        $.ajax({
            type: "POST",
            url: 'https://localhost:44363/api/fileupload',   
            enctype: 'multipart/form-data',
            contentType: false,
            processData: false,      
            cache: false,
            data: fd1,		        
            success: function (data, textStatus, xhr) {
                if (data.IsError) {
                    displayFlag('r', data.ErrorMessage);
                    clearUploadForm();
                    return;
                }
                var fd2 = new FormData();
                fd2.append("Filename", data.Filename);
                fd2.append("Filepath", data.Filepath);
                fd2.append("Extension", data.Extension);
                fd2.append("Filesize", data.Filesize);
                fd2.append("Datetime", data.Datetime);
                fd2.append("Username", document.getElementById("userinput").value);
                var fn = data.Filename;
                        
                $.ajax({
                    type: "POST",
                    url: 'https://localhost:44363/api/upload',    
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false,         
                    cache: false,
                    data: fd2,		       
                    success: function (data, textStatus, xhr) {
                        displayFlag('g', "Uploaded the file '" + fn + "'");
                        clearUploadForm();
                        start();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        displayFlag('r', "Could not upload the file '" + fn + "'");     
                        clearUploadForm();
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }
        });
    });

    function clearUploadForm() {
        document.getElementById("fileinput").value = "";
        document.getElementById("userinput").value = "";
    }

    function displayFlag(c, msg) {
        var flag = document.getElementById("flagBody");
        flag.style.display = "block";
        if (c == 'r') {
            flag.style.backgroundColor = "#ff3b3b";
        }
        else if (c == 'g') {
            flag.style.backgroundColor = "#53bd51";
        }
        flag.innerHTML = msg;   
        setTimeout(hideFlag, 4000);
    }

    function hideFlag() {
        document.getElementById("flagBody").style.display = "none";
    }

    function deleteImage() {
        if (!confirm("The image will be deleted permanently")) {
            return;
        }
        var uri = 'https://localhost:44363/api/delete/';
        $.ajax({
            url: uri + modalid,
            type: "DELETE",
            contentType: false, 
            processData: false, 
            cache: false,
            success: function (result) {
                modalclose();
                start();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });

    }

    $(window).bind('keydown', function (event) {
        if (event.ctrlKey || event.metaKey) {
            switch (String.fromCharCode(event.which).toLowerCase()) {
                case 's':
                    event.preventDefault();
                    break;
                case 'u':
                    event.preventDefault();
                    uploadopen();
                    break;
            }
        }
    });

    document.onkeydown = function (evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
            modalclose();
        }
    };


    function thclicked() {
        var i = this.id;
        i = i.substring(3);
        modalid = i;
        modalopen();
    }

    function modalopen() {
        document.getElementById("myModal").style.display = "block";
        var modal = document.getElementById("idmodalcontent");
        modal.src = document.getElementById("tn-image" + modalid).src;
        document.getElementById("caption").innerHTML = document.getElementById("tn-text" + modalid).innerHTML;
    }

    function modalclose() {
        document.getElementById("myModal").style.display = "none";
    }

    function uploadclose() {
        clearUploadForm();
        document.getElementById("uploadbox").style.display = "none";
    }

    function uploadopen() {
        document.getElementById("uploadbox").style.display = "block";
    }

    function search() {
        var query = document.getElementById("searchinput").value;
        var url = "https://localhost:44363/api/search/" + query;
        if (query == "") {
            start();
            return;
        }
        var gallerycontainer = document.getElementById("gallery-container-id");
        gallerycontainer.innerHTML = "";
        $.getJSON(url, function (data) {
            $.each(data, function (key, val) {
                var tn = document.createElement("div");
                tn.classList.add("thumbnail");
                tn.id = "th-" + val.Id;
                tn.addEventListener("click", thclicked);
                var io = document.createElement("div");
                io.classList.add("image-overlay");

                var o = document.createElement("div");
                o.classList.add("overlay");

                var im = document.createElement("img");
                im.id = "tn-image" + val.Id;
                im.classList.add("tn-image");
                var paths = val.Filepath.split('\\');
                im.src = "/Images/" + paths[paths.length - 1];

                var fs = document.createElement("img");
                fs.src = "/Images/fs.png";
                fs.classList.add("fs-logo");

                io.appendChild(o);
                io.appendChild(fs);
                io.appendChild(im);
                var pt = document.createElement("p");
                pt.id = "tn-text" + val.Id;
                pt.classList.add("tn-text");
                pt.innerHTML = val.Filename;

                var pu = document.createElement("p");
                pu.classList.add("tn-user");
                pu.innerHTML = "- " + val.Username;

                tn.appendChild(io);
                tn.appendChild(pt);
                tn.appendChild(pu);
                gallerycontainer.appendChild(tn);
            });
        });
    }

    function start() {
        var url = "https://localhost:44363/api/images";
        var gallerycontainer = document.getElementById("gallery-container-id");
        gallerycontainer.innerHTML = "";
        $.getJSON(url, function (data) {
            $.each(data, function (key, val) {
                var tn = document.createElement("div");
                tn.classList.add("thumbnail");
                tn.id = "th-" + val.Id;
                tn.addEventListener("click", thclicked);
                var io = document.createElement("div");
                io.classList.add("image-overlay");

                var o = document.createElement("div");
                o.classList.add("overlay");

                var im = document.createElement("img");
                im.id = "tn-image" + val.Id;
                im.classList.add("tn-image");
                var paths = val.Filepath.split('\\');
                im.src = "/Images/" + paths[paths.length - 1];

                var fs = document.createElement("img");
                fs.src = "/Images/fs.png";
                fs.classList.add("fs-logo");

                io.appendChild(o);
                io.appendChild(fs);
                io.appendChild(im);
                var pt = document.createElement("p");
                pt.id = "tn-text" + val.Id;
                pt.classList.add("tn-text");
                pt.innerHTML = val.Filename;

                var pu = document.createElement("p");
                pu.classList.add("tn-user");
                pu.innerHTML = "- " + val.Username;

                tn.appendChild(io);
                tn.appendChild(pt);
                tn.appendChild(pu);
                gallerycontainer.appendChild(tn);
            });
        });
    }
</script>

<!--
<div id="th-0" class="thumbnail">
<div class="image-overlay">
    <div class="overlay"></div>
    <img class="fs-logo" src="~/Images/fs.png" />
    <img id="tn-image0" class="tn-image" src="~/Images/blackpanther.jpg" />
</div>
<p id="tn-text0" class="tn-text">Black Panther</p>
<p class="tn-user">- Revanth</p>
</div>
-->